---
import Layout from "../layouts/Layout.astro";
import ChartAPL from "../components/ChartAPL.astro";
---

<Layout title="Classement APL — Accessibilité médicale">
  <section class="p-8 flex flex-col items-center">
    <ChartAPL />
  </section>
</Layout>
