---
import Layout from "../layouts/Layout.astro";
import CorrPauvreteChart from "../components/CorrPauvreteChart.astro";
---

<Layout title="Corrélation APL - Pauvreté">
  <main class="flex flex-col items-center justify-center min-h-screen bg-gray-50 py-10">
    <h1 class="text-3xl font-bold mb-6 text-center">
      Corrélation entre l’accessibilité médicale et le taux de pauvreté
    </h1>
    <CorrPauvreteChart />
  </main>
</Layout>
