---
import Layout from "../layouts/Layout.astro";
import CorrVieChart from "../components/CorrVieChart.astro";
---

<Layout>
  <main class="p-6 text-center">
    <h1 class="text-3xl font-semibold mb-6">
      Corrélation entre APL et espérance de vie
    </h1>
    <p class="text-gray-600 mb-8">
      Cette visualisation montre la relation entre l’accessibilité médicale (APL)
      et l’espérance de vie à la naissance dans chaque département français.
    </p>
    <CorrVieChart />
  </main>
</Layout>
