---
import Layout from "../layouts/Layout.astro";
import MapMulti from "../components/MapMulti.astro";
---

<Layout title="Carte Multi Thématique">
  <main class="flex flex-col items-center justify-center py-8">
    <h1 class="text-2xl font-bold mb-4 text-center">
      Santé et Territoires : inégalités d’accès aux soins
    </h1>
    <MapMulti />
  </main>
</Layout>
