---
import "../styles/global.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santé & Territoires</title>
  </head>
  <body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
